#Ignore uploading to repo pyc files
__pycache__/
*.pyc

#Ignore PyInstaller build directories and spec files
build/
dist/
*.spec
Release/
Family Financial Management V*/
Family Financial Management v*/
database/
logs/